<div class="container">
    <div class="card">
        <h4>Crear Producto</h4>
        <form action="">
            <div>
                <label for="">Nombre</label>
                <input type="text" class="input2">
            </div>
            <div>
                <label for="">Precio</label>
                <input type="number" class="input">
            </div>
            <div>
                <label for="">Stock</label>
                <input type="number" class="input">
            </div>
            <div>
                <button class="button">Enviar</button>
            </div>
        </form>
    </div>
    <div>
        <button class="button" (click)="btnFacturasClick()">Facturas</button>
        <button class="button" (click)="btnClientesClick()">Clientes</button>
    </div>
    
</div>