<div class="container">
    <div class="card">
        <h4>Crear Cliente</h4>
        <form action="">
            <div>
                <label for="">Cedula</label>
                <input type="number" class="input2" placeholder="C.C.">
            </div>
            <div>
                <label for="">Nombre</label>
                <input type="text" class="input2" placeholder="Ingrese Nombre">
            </div>
            <div>
                <label for="">Apellido</label>
                <input type="text" class="input2" placeholder="Ingrese Apellido">
            </div>
            <div>
                <label for="">Fecha Nacimientpo</label>
                <input type="date" class="input2">
            </div>
            <div>
                <label for="">Telefono</label>
                <input type="number" class="input2" placeholder="Ingrese Telefono">
            </div>
            <div>
                <label for="">Correo</label>
                <input type="email" class="input2" placeholder="Ingrese Correo">
            </div>
            <div>
                <button class="button">Enviar</button>
            </div>
        </form>
    </div>
    <div>
        <button class="button" (click)="btnProductosClick()">Productos</button>
        <button class="button" (click)="btnFacturaClick()">Factura</button>
    </div>
    
</div>

